* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f4f5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.top {
	width: 100%;
	height: 10px;
	background-color: khaki;
}
 
input{
    outline: none;
}

.search2 {
    margin-left: 70px; 
    width: 1400px;
    height: 100px;
    /* background-color: pink; */
}
 
.webname {
    float:left;
    margin-left: 10px;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-family: "幼圆";
    font-weight: 700;
    font-size: larger;
    text-align: center;
    color: khaki;
    /* background-color: yellow; */
    animation: changeshadow 1s ease-in infinite;
    -webkit-animation: changeshadow 1s linear infinite;
    -moz-animation: changeshadow 1s linear infinite;
    -ms-animation: changeshadow 1s linear infinite;
    -o-animation: changeshadow 1s linear infinite;
} 

/* 闪烁特效的开始 */
@keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px khaki;
    }

    50% {
        text-shadow: 0 0 40px khaki;
    }

    100% {
        text-shadow: 0 0 4px khaki;
    }
}

@-webkit-keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px khaki;
    }

    50% {
        text-shadow: 0 0 40px khaki;
    }

    100% {
        text-shadow: 0 0 4px khaki;
    }
}

@-moz-keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px khaki;
    }

    50% {
        text-shadow: 0 0 40px khaki;
    }

    100% {
        text-shadow: 0 0 4px khaki;
    }
}


@-o-keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px khaki;
    }

    50% {
        text-shadow: 0 0 40px khaki;
    }

    100% {
        text-shadow: 0 0 4px khaki;
    }
}
/* 闪烁特效的结束 */

.searching {
    float:right;
    margin-top: 30px;
    margin-right: 10px;
    width: 400px;
    height: 50px;
    /* background-color: green; */
}

.input {
    float: left;
    margin-left: 40px;
    width: 180px;
    height: 40px;
}

.changing {
    float: left;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    width: 100px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    font-family: "幼圆";
    color: white;
    background-color: khaki;

}

.navigator {
    margin-top: 10px;
    margin-bottom: 30px;
     margin-left: 120px; 
     width: 80%;
     height: 60px;
     line-height: 50px;
     /* background-color: khaki; */
}

.navigator ul li {
    float: left;
    margin-left: 7px;
    margin-right: 85px;
    /* border-radius: 10%; */
    border-radius: 10px;
    font-family: "幼圆";
    width: 150px;
    height: 60px;
    color:khaki;
    box-shadow: 3px 2px 1px rgba(0,0,0,.3);
    background-color: white;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
}


.navigator ul li a {
    color: khaki;
}

.navigator ul .first {
    background-color: khaki;
    color: white;
}

.navigator ul li:hover{
    background-color: khaki;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.search {
    margin-top: 20px;
    margin-left: 60px;
    width: 1400px;
    height: 100px;
    background-color: khaki;

}

.core {
    margin-top: 20px;
    margin-left: 60px;
    width: 1400px;
    /* height: 800px; */
    /* background-color: white; */
    overflow: hidden;
}



.core .context {
    float: left;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    background-color: white;
}

.core .text {
    height: 50px;
    width: 100%;
    border-radius: 10%;
    line-height: 50px;
    /* text-align: center; */
    background-color: khaki;
}

.core .context .text .left {
    float: left;
    margin-left: 10px;
}

.core .context .text .left:hover {
    cursor: pointer;
    color: blue;
}

.core .context .text .right {
    float: right;
    margin-right: 10px;
}

.core .context .text .right:hover {
    cursor: pointer;
    color: blue;
}

.core .article ul li{
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 1px dotted black;
}

.core .article ul li:hover{
    color: blue;
    cursor: pointer;
}

.ending {
    margin-top: 20px;
    width:100%;
    height: 200px;
    background-color: khaki;
}

.word {
    float: left;
    margin-top:80px;
    margin-left:120px;
    color: white;
}

.word p {
    margin-bottom: 10px;
}

